name: Android CI Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Эта магия установит Gradle, если у тебя нет файлов gradlew в репозитории
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Build with Gradle
        # Если gradlew нет, используем установленный в системе gradle
        run: |
          if [ -f gradlew ]; then
            chmod +x gradlew
            ./gradlew assembleDebug
          else
            gradle assembleDebug
          fi

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: DroidStrap-PreAlpha
          path: "**/*.apk"
